html {
  font-size: 62.5%;
}
.boxes {
  border: 3px solid green;
  position: relative;
}

.box {
  width: 15rem;
  height: 15rem;
}

.box-one {
  background-color: yellow;
}

.box-two {
  background-color: blue;
  position: absolute;
  right: 0;
  top: 0;
}

.box-three {
  background-color: orange;
}
